/* Add five CSS stylings */
/* 1. Color and bold About Me header */
/* 2. Set the color of body's background */
/* 3. Color, italicize, and center 'Biography' header */
/* 4. Color, center, and add margins to biography paragraph */
/* 5. Shrink and color footer */

/* Stylings for body of HTML page */
body {
  background-color: plum;
  text-align: center;
}

/* Stylings for elements with aboutme id */
#aboutme {
  color: blue;
  font-weight: 1200;
  text-decoration: underline;
}

/* Stylings for elements with biography_heading id */
h2 {
  color: azure;
  font-weight: 450;
}

/* Stylings for elements with biography_text id */
p {
  color: purple;
  margin-left: 150px;
  margin-right: 150px;
}

ul {
  color: purple;
  margin-left: 150px;
  margin-right: 150px;
}

ol {
  color: purple;
  margin-left: 150px;
  margin-right: 150px;
}

/* Stylings for elements with authorcredit id */
#authorcredit {
  font-size: 12px;
  font-style: italic;
  font-weight: 600;
  margin-left: 50px;
}
